.send-by-email-btn {
	width: 100%;
	height: 56px;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0 20px;
	background: #1dbbbe00 !important;
	border: 1px solid #c6c6c6;
	color: #c6c6c6 !important;
	margin-bottom: 10px;
	border-radius: var(--main-border-radius-01);
	-webkit-border-radius: var(--main-border-radius-01);
	-moz-border-radius: var(--main-border-radius-01);
	-ms-border-radius: var(--main-border-radius-01);
	-o-border-radius: var(--main-border-radius-01);
}

.send-by-email-btn:hover,
.send-by-email-btn:active,
.send-by-email-btn:focus {
	background-color: #1dbbbe00 !important;
	border: 1px solid var(--main-color-01);
	color: var(--main-color-01) !important;
}

.resend-code-btn {
	all: unset !important;
	height: 25px !important;
	margin-bottom: 10px !important;
	font-size: 18px !important;
	letter-spacing: 0.07px !important;
	color: #011723 !important;
	cursor: pointer !important;
}
